<h1>Welcome to Mouse Guard!</h1>
<%# image_tag "mouseguard_map.png" %>	
	<%= map(:center => {
    :latlng => [51.52238797921441, -0.08366235665359283],
    :zoom => 1
	  },
	  :markers => [
	     {
	       :latlng => [51.52238797921441, -0.08366235665359283],
	       :popup => "Hello!"
	     }
	  ]
	) %>