<div>
	<h1 id ="mainh1">Welcome to Mouse Guard!</h1>
	<div id="map"></div>
	<div class="container-fluid">
		<div class="row">
			<div id="info" class="col-xs-12">
				<div class="new_area_form">
				 	<%= render partial: "areas/form", locals: {area: Area.new} %>
				</div>

				<% @areas.each do |area| %>
				 	<div class="area_form">
				 		<%= render partial: "areas/form", locals: {area: area} %>
				 	</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="links">
	<a href="#" data-type="twitter" data-url="http://mouseguard.heath.cc/" data-description="Mouseguard!" data-via="rhianaheath" class="prettySocial fa fa-twitter"></a>

	<a href="#" data-type="facebook" data-url="http://mouseguard.heath.cc/" data-title="Mouseguard!" data-description="Create a mouseguard campaign!" data-media="http://mouseguard.heath.cc/app/assets/images/mouseguard_map.jpg" class="prettySocial fa fa-facebook"></a>

	<a href="#" data-type="googleplus" data-url="http://mouseguard.heath.cc/" data-description="Create a mouseguard campaign!." class="prettySocial fa fa-google-plus"></a>

	<a href="#" data-type="pinterest" data-url="http://mouseguard.heath.cc/" data-description="Create a mouseguard campaign!." data-media="http://mouseguard.heath.cc/app/assets/images/mouseguard_map.jpg" class="prettySocial fa fa-pinterest"></a>

	<a href="#" data-type="linkedin" data-url="http://mouseguard.heath.cc/" data-title="Mouseguard!" data-description="Create a mouseguard campaign!" data-via="sonnyt" data-media="http://mouseguard.heath.cc/app/assets/images/mouseguard_map.jpg" class="prettySocial fa fa-linkedin"></a>
</div>