<div>
	<div id="map"></div>

	<div id="info">
		<div class="new_area_form">
		 	<%= render partial: "areas/form", locals: {area: Area.new} %>
		</div>

		<% @areas.each do |area| %>
		 	<div class="area_form">
		 		<%= render partial: "areas/form", locals: {area: area} %>
		 	</div>
		<% end %>
	</div>
</div>