<h1>Editing area</h1>
<div id="area_edit">
<%= render :partial => "areas/form", :locals => {area: @area} %>
</div>

<div class="navigation">
<%= link_to 'Show', @area %> |
<%= link_to 'Back', areas_path %> |
<%= link_to "Map View", root_path %>
</div>