header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 3.5px $dark-cyan solid;
	background-image: image_url('old_map.png');
	padding: 15px 30px;
	z-index: 1000;
	@include mobile {
		padding: 10px 15px;
	}
	h1 {
		margin: 0;
		font-weight: bold;
		font-size: 1.5rem;
		@include mobile {
			font-size: 1.1em;
		}
		span {
			@include mobile {
				display: none;
			}
		}
	}
	a {
		display: inline-block;
		margin: 0 10px;
		color: $dark-cyan;
		text-decoration: none;
		&:hover,
		&:focus {
			text-decoration: underline;
		}
		@include mobile {
			margin: 0 5px;
		}
	}
}