.container {
	border: 3.5px $dark-cyan solid;
	background-image: url(old_map.png);
	max-width: 1170px;
	margin: 1em auto;
	padding: 15px;
}

#map {
	border: 2px $dark-cyan solid;
  width: 1024px;
  height: 500px;
 	margin: auto;
}

#info {
	border: 2px $dark-cyan solid;
	height: 100%;
	min-width: 320px;
	background-color: $very-light-orange;
	margin: auto;
	padding-bottom: 20px;
	margin-top: 20px;
}

.new_area_form,
.area_form {
	display: flex;
	justify-content: center;
	.info_box {
		width: 33%;
	}
	.image_box {
		width: 60%;
		margin-left: 2%;
		img {
			width: 100%;
		}
	}
}


#areas_table {
	width: 75%;
	margin: 1em auto;
}