body {
	background-color: $light-orange;
}

main,
header {
	display: block;
}

#map {
	width: 100%;
  max-width: 1024px;
  height: 500px;
 	margin: auto;
}

#info {
	border-top: 2px $dark-cyan solid;
	border-bottom: 2px $dark-cyan solid;
	height: 100%;
	background-color: $very-light-orange;
	padding: 20px;
}

.new_area_form,
.area_form {
	display: flex;
	justify-content: center;
	max-width: 1024px;
	margin: auto;
	@include mobile {
		flex-direction: column;
		align-items: center;
	}
	.info_box {
		width: 49%;
		@include mobile {
			width: 90%;
		}
	}
	.image_box {
		width: 49%;
		margin-left: 2%;
		@include mobile {
			width: 90%;
			margin-left: 0;
			margin-top: 2%;
		}
		img {
			width: 100%;
			margin-top: 2%;
		}
	}
}


#areas_table {
	max-width: 1024px;
	margin: 0 auto;
	text-align: center;
	h2 {
		display: inline-block;
		margin-bottom: 0.75em;
	}
	table {
		width: 100%;
		margin: auto;
	}
}