table {
	border: 2px $dark-cyan solid;
}

th,
td {
	border: 2px $dark-cyan solid;
	background-color: lighten($very-light-orange, 25%);
	text-align: left;
	padding: 5px 10px;
}

th {
	font-weight: bold;
}