/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require leaflet
 *= require_tree .
 */

body {
	font-family: 'Kaushan Script', cursive;
	background-color: #FFBE40;
	color: #006561;
	font-size: 1.333em;
}

h1 {
	text-align: center;
}

input,
textarea {
	font-size: 1.125em;
	width: 80%;
}

textarea {
	height: 4em;
}

#info {
	border: 2px #006561 solid;
	height: 700px;
	font-size: .85em;
}

#map,
#path_view {
	border: 2px #006561 solid;
  	width: 1024px;
  	height: 500px;
 	float: left;
 }

#info {
	width: 23%;
	float: right;
}

#areas_table,
#areas_show,
#area_edit,
#info form,
#area_new {
	width: 75%;
	margin-left:auto;
	margin-right:auto;
}

#area_edit form,
#area_new form {
	margin-left:37.5%;
}

#info,
#areas_table,
#areas_show,
#area_edit,
#area_new {
	background-image: url(http://subtlepatterns.com/patterns/old_map.png);
	background-color: #FFCF73;
}

.navigation {
	float: left;
	width: 100%;
}

table,th, td {
	border: 2px #006561 solid;
}

#area_lat,
#area_long {
	display: none;
}

.actions {
	margin-top: 1em;
}
